    
@font-face {
    font-family: 'Team 401 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Team 401 Regular'), url('Team 401.woff') format('woff');
}

h1{
    font-family: 'Team 401 Regular';
    font-weight: 200;
    color: #0ccac4;
}